header {
  background-color: #E4CCDC;
  height:200px;
  width:auto;
  border:1px solid;
  padding-top:4.5%;
  font-family: Lobster;
}
/*.salmon {
  height:100px;
  width:225px;
}*/
main {
  font-family: Playfair Display;
}
nav li {
  display: inline;
}
h2{
  float:flex;
  font-family: Lobster;
}
.family {
  background-color:#98AEC9;
  margin:0 auto;
  height:500px;
  background-image:url(family.jpg);
  content:' ';
  display: block;
  opacity:0.8;
  background-repeat: no-repeat;
}
.pfamily {
  height: 300px;
  width: 40%;
  float:right;
  font-weight:bolder;
  color:black;
}
.scookie {
  background-color:#66858A;
  height:500px;
  margin:-15px auto 0 auto;
  background-image:url(salmoncookies.jpg);
  content:' ';
  display:block;
  opacity:0.8;
  background-repeat: no-repeat;
  background-position: 80% 0;
}
.pscookie {
  color:black;
  font-weight:bolder;
  height:300px;
  width: 50%;
  margin:15px;
}
.bottom {
  display:flex;
}
.shirt{
  height: 140px;
  width:100px;
}
.merch{
  border:1px solid;
  width:33%;
  text-align:center;
  background-color:#98AEC9;
}
.locations{
  border: 1px solid;
  width:33%;
  text-align:center;
  background-color:#E4CCDC;
}
.events{
  border: 1px solid;
  width:33%;
  text-align:center;
  background-color: #ECF2FC;
}
footer{
  text-align:center;
}
