header {
  background-color: #FF044B;
  height:200px;
  width:auto;
  border:1px solid;
  padding-top:4.5%;
}
/*.salmon {
  height:100px;
  width:225px;
}*/

.family {
  background-color:blue;
  margin:0 auto;
  height:500px;
  background-image:url(family.jpg);
  content:' ';
  display: block;
  opacity:0.8;
  background-repeat: no-repeat;
}
.pfamily {
  height: 300px;
  width: 40%;
  float:right;
  font-weight:bold;
  color:black;
}
.scookie {
  background-color:red;
  height:500px;
  margin:-15px auto 0 auto;
  background-image:url(salmoncookies.jpg);
  content:' ';
  display:block;
  opacity:0.8;
  background-repeat: no-repeat;
  background-position: 80% 0;
}
.pscookie {
  color:black;
  font-weight:bold;
  height:300px;
  width: 50%;
  margin:15px;
}
.bottom {
  display:flex;
}
.shirt{
  height: 100px;
  width:75px;
}
.merch{
  border:1px solid;
  width:33%;
  text-align:center;
}
.locations{
  border: 1px solid;
  width:33%;
  text-align:center;
}
.events{
  border: 1px solid;
  width:33%;
  text-align:center;
}
